# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env

# SQLite databases
*.db
*.sqlite3

# Logs
*.log

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Node
node_modules/

# React build
frontend/dist/

# OS
.DS_Store
Thumbs.db